apiVersion: apps/v1
kind: Deployment
metadata:
  name: drupal-deployment
  labels:
    app: drupal
spec:
  replicas: 3
  selector:
    matchLabels:
      app: drupal
  template:
    metadata:
      labels:
        app: drupal
    spec:
      containers:
      - name: drupal
        image: 625650193469.dkr.ecr.us-east-1.amazonaws.com/drupal:{{ image_version }}
        ports:
        - containerPort: 80
